.main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(197,201,204);
    margin: 20px;
    padding: 20px;
}
h2{
    color: red;
}
.child{
    border: 5px outset red;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
    
}
input{
    width: 350px;
    height: 30px;
    margin: 15px;
    padding-left: 10px;
    border-radius: 10px;
}
.personal{
    border: 5px inset blue;
    height: 380px;
    width: 380px;
    margin: 10px;
    padding: 20px;
    margin-bottom: 40px;
}
